#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 40;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.nav {
    padding: 23px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px 0 32px;
    }

    &__items {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        margin-right: 44px;
    }

    &__item:last-child {
        margin-right: 26px;
    }

    &__link {
        color: #666666;
        font-size: 15px;
    }

    &__burger {
        display: none;
    }
}

.main__button {
    display: inline-block;
    background: #222222;
    border-radius: 4px;
    width: 172px;
    padding: 11px 0;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main__button:hover {
    background-color: #4E4E4E;
    color: white;
}

.main__button:active {
    transform: scale(0.98);
}

.main__button:focus {
    outline: 2px solid #5AB0FF;
}


@media screen and (max-width:$grid-breakpoints-lg) {
    .nav__burger {
        display: block;
    }

    .nav__options {
        display: none;
    }

    .burger__item {
        margin: 0 0 18px 0;
    }

    .burger__item:last-child {
        margin-top: 33px;
    }


    .btn-close {
        padding: 37px 0 0 46px !important;
    }

    .btn-close:focus {
        box-shadow: none;
    }

    .navbar-toggler {
        width: 36px;
        height: 36px;
        background: transparent;
        border-radius: 20px;
    }

    .navbar-toggler:hover {
        width: 36px;
        height: 36px;
        background: #E5E5E5;
        border-radius: 20px;
    }

    .navbar-toggler:focus {
        width: 36px;
        height: 36px;
        border: 1px solid #5AB0FF;
        background-color: transparent;
        border-radius: 20px;
    }

    .offcanvas {
        --bs-offcanvas-width: 100%;
        transition: transform 0.6s ease-in-out;
        --bs-offcanvas-border-color: unset;

        &-header {
            justify-content: flex-end;
            margin-bottom: 97px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0;
        }

        &-img {
            margin-bottom: 52px;
            margin-right: 14px;
        }
    }

    .nav {
        padding: 15px 0;

        &__inner {
            padding: 0 26px 0 21px;
            flex-direction: row;
        }
    }

}

@media screen and (max-width:$grid-breakpoints-md) {
    .nav__inner {
        padding: 0 0 0 22px;
    }
}
