.modal__outter {
    position: fixed;
    background-color: #00000097;
    width: 100vw;
    height: 100vh;
    display: none;
    inset: 0;
    z-index: 50;
}


.main__modal {
    position: relative;
    z-index: 110;
    width: 506px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    color: #000000;
    display: none;
    margin: 70px auto;
}

.modal__inner {
    margin: 0 auto;
}

.modal__text {
    font-size: 20px;
    color: #000000;
    padding: 0px 0 42px 0;
    margin: 0 auto;
    width: 50%;
    line-height: 30px;
}

.modal__input {
    width: 330px;
    height: 42px;
    background: #F2F2F2;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: -7px;
    padding: 0 13px;
    position: relative;
}

.name__label {
    color: #FF5437;
    font-size: 12px;
    position: absolute;
    top: 21%;
    left: 20%;
    display: none;
}

.email__label {
    color: #FF5437;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 20%;
    display: none;
}

.modal__input:focus {
    border: 2px solid #5AB0FF;
}

.modal__input::placeholder {
    color: #7D7D7D;
}

.modal__plan {
    font-size: 16px;
    display: block;
    margin: 6px 0 12px 0;
}

input[type="radio"] {
    display: none;
}

.modal__radio {
    width: 330px;
    padding: 9px 0;
    background: #FAFAFA;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 11px;
}

.radio__standard {
    border: 1px solid #0278ED;
}

.cheap {
    background-color: #0278ED;
    position: relative;
    color: white;
}

.cheap::before {
    content: url(../assets/media/check.svg);
    width: 19px;
    height: 15px;
    position: absolute;
    top: 26%;
    left: 5%;
}

.radio__premium {
    border: 1px solid #FF5437;
}

.medium {
    background-color: #FF5437;
    position: relative;
    color: white;
}

.medium::before {
    content: url(../assets/media/check.svg);
    width: 19px;
    height: 15px;
    position: absolute;
    top: 26%;
    left: 5%;
}

.radio__lifetime {
    border: 1px solid #FF9209;
}

.expensive {
    background-color: #FF9209;
    position: relative;
    color: white;
}

.expensive::before {
    content: url(../assets/media/check.svg);
    width: 19px;
    height: 15px;
    position: absolute;
    top: 26%;
    left: 5%;
}

.modal__info {
    font-size: 16px;
    margin: 31px 0 23px 0;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]+span {
    display: block;
    position: absolute;
}

input[type="checkbox"]:checked+span::before {
    content: "";
    width: 9px;
    background-color: #0278ED;
    height: 4px;
    position: absolute;
    opacity: 1;
    transform: translate(2px, 12px) rotate(52deg);
}

input[type="checkbox"]:checked+span::after {
    content: "";
    width: 15px;
    background-color: #0278ED;
    height: 4px;
    position: absolute;
    opacity: 1;
    transform: translate(5px, 9px) rotate(-52deg);
}

.modal__checkbox {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 2px solid #0278ED;
    background-color: white;
}


.modal__button {
    width: 172px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background: #222222;
    border-radius: 4px;
    margin: 35px 0 54px 0;
    outline: none;
    border: none;
}

.checkbox__name {
    width: 50px;
    margin-left: 19px;
}

.modal__checkboxes {
    margin-left: -35px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
}

.close__button {
    display: flex;
    justify-content: flex-end;
    padding: 12px 26px 0 0;
}

#close {
    outline: none;
    border: none;
    background-color: transparent;
}


.modal__loading {
    display: none;
}

.modal__loading span {
    display: inline-block;
    color: #7E7E7E;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 13px;
    padding-bottom: 36px;
}

.modal__loading img {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}


@media screen and (max-width:$grid-breakpoints-xl) {
    .main__modal {
        height: calc(100vh - 145px);
        overflow-y: auto;
        padding-bottom: 15px;
    }
}

@media screen and (max-width:$grid-breakpoints-md) {
    .main__modal {
        width: 433px;
        height: calc(100vh - 186px);
        overflow-y: auto;
        padding-bottom: 15px;
    }

    .modal__text {
        font-size: 18px;
        width: 80%;
        padding: 0px 0 20px 0;
    }

    .close__button {
        padding: 6px 3px 14px 0;
    }

    .modal__radio {
        width: 300px;
    }

    .modal__input {
        width: 300px;
    }

    .modal__button {
        margin: 23px 0 40px 0;
    }
}

@media screen and (max-width:$grid-breakpoints-xs) {
    .main__modal {
        width: 303px;
        height: calc(100vh - 187px);
        overflow-y: auto;
        padding-bottom: 15px;
    }

    .modal__radio {
        width: 240px;
    }

    .modal__input {
        width: 240px;
    }

    .close__button {
        padding: 10px 3px 14px 0;
    }
}